attic/misc/recurrance/src/conf/recurrance.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT recurrance ( every , week-start?, on? , occurences? )>

<!-- of the for [n unit] where n is a positive int and unit is one of -->
<!-- year, years, month, months, week, weeks, day, days, hour, hours, minute, minutes, second, seconds -->
<!-- (basically, we just remove any training s) -->
<!ELEMENT every (#PCDATA)>


<!ELEMENT week-start (#PCDATA)>

<!-- a listing of date restrictions/additions to the date generated by the every clause-->
<!ELEMENT on (second|minute|hour|week-day|month-day|year-day|week-number|month)>
<!-- integer maximum number of occurances to return -->
<!ELEMENT occurences (#PCDATA)>

<!-- 0-60 -->
<!-- this item may contain multiple comma seperated entried. -->
<!-- i.e. 0,15,30,45 in one second tag. This is true of all tags from here down-->
<!ELEMENT second (#PCDATA)>
<!-- 0-60 -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT minute (#PCDATA)>
<!-- 0-23 -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT hour (#PCDATA)>
<!-- of the form: [N][numbereth] [to] [the last] [day] -->
<!-- where [N] is number of the weekday in the units given by frequency.  (first/last/every of year or first/last/every of month). if N is not present, every is impled
<!-- where [numbereth] is human readability text and will be ignored -->
<!-- where [to] is human readability text and will be ignored -->
<!-- where [the last] if present implies that N is counting back from the end of the time frame instead of the forward from the first day of the time frame. -->
<!-- where [day] is sunday|monday|tuesday|wednesday|thursday|friday|saturday|MO|TU|WE|TH|FR|SA -->
<!-- a negative value for N is the same as specifying 'the last' -->
<!-- examples: -->
<!--   1 monday => first monday -->
<!--   1st monday => first monday -->
<!--   the last monday => last monday of month -->
<!--   2nd to the last monday => second to the elast monday of month -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT week-day (#PCDATA)>
<!-- N [to] [the last] -->
<!-- where [N] is number of the month day
<!-- where [to] is human readability text and will be ignored -->
<!-- where [the last] if present implies that N is counting back from the end of the time frame instead of the forward from the first day of the time frame. -->
<!-- a negative value for N is the same as specifying 'the last' -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT month-day (#PCDATA)>
<!-- N [to] [the last] -->
<!-- where [N] is number of the year day
<!-- where [to] is human readability text and will be ignored -->
<!-- where [the last] if present implies that N is counting back from the end of the time frame instead of the forward from the first day of the time frame. -->
<!-- a negative value for N is the same as specifying 'the last' -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT year-day (#PCDATA)>
<!-- N [to] [the last] -->
<!-- where [N] is number of the week
<!-- where [to] is human readability text and will be ignored -->
<!-- where [the last] if present implies that N is counting back from the end of the time frame instead of the forward from the first day of the time frame. -->
<!-- a negative value for N is the same as specifying 'the last' -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT week-number (#PCDATA)>
<!-- 1-12|january|february|march|april|may|june|july|august|september|october|november|december -->
<!-- this item may contain multiple comma seperated entried -->
<!ELEMENT month (#PCDATA)>

