attic/misc/geverdummy/src/main/wsdl/FabasoftAdapter.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.astra.admin.ch/FabasoftAdapter" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.astra.admin.ch/FabasoftAdapter" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.astra.admin.ch/FabasoftAdapter">
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUsersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchKeywords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchKeywordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchKeywordsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objclass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appkeys" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="createdat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changedat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="owner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="root" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchObjectsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objaddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objaddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetObjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoundObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objaddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoundObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoundObjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="SearchKeywordsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchKeywords" />
  </wsdl:message>
  <wsdl:message name="SearchKeywordsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchKeywordsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchObjects" />
  </wsdl:message>
  <wsdl:message name="SearchObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="GetObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="GetObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="SetObjectSoapIn">
    <wsdl:part name="parameters" element="tns:SetObject" />
  </wsdl:message>
  <wsdl:message name="SetObjectSoapOut">
    <wsdl:part name="parameters" element="tns:SetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoundObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetFoundObject" />
  </wsdl:message>
  <wsdl:message name="GetFoundObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoundObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="FabasoftAdapterSoap">
    <wsdl:operation name="Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liefert den übergebenen String in GROSS-Buchstaben zurück</wsdl:documentation>
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sucht nach Benutzern mit dem angegebenen Namen und/oder dem angegebenen Login. Einer der gefundenen Benutzer kann der Methode "SearchObjects" übergeben werden.</wsdl:documentation>
      <wsdl:input message="tns:SearchUsersSoapIn" />
      <wsdl:output message="tns:SearchUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchKeywords">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sucht nach Schlüsselwörter mit dem angegebenen Namen. Die gefundenen Schlüsselwörter können der Methode "SearchObjects" übergeben werden.</wsdl:documentation>
      <wsdl:input message="tns:SearchKeywordsSoapIn" />
      <wsdl:output message="tns:SearchKeywordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchObjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Erstellt aus den übergebenen Parametern eine Fabasoft-Suche, erzeugt einen SOAPSearchRequest und setzt diesen gegen die Fabasoft Components WebServices ab. Das Resultat kann zwischen 0 und n XML-Strings liegen.</wsdl:documentation>
      <wsdl:input message="tns:SearchObjectsSoapIn" />
      <wsdl:output message="tns:SearchObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liest vom übergebenen Objekt die vordefinierten Eigenschaften (vollständiges RecordSet) aus. Wenn kein XML-Mapping in der Konfiguration spezifiziert ist, so tritt ein Fehler auf.</wsdl:documentation>
      <wsdl:input message="tns:GetObjectSoapIn" />
      <wsdl:output message="tns:GetObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Zeit nicht implementiert.</wsdl:documentation>
      <wsdl:input message="tns:SetObjectSoapIn" />
      <wsdl:output message="tns:SetObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFoundObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Liest vom übergebenen Objekt die vordefinierten Eigenschaften (reduziertes RecordSet) aus. Wenn kein XML-Mapping in der Konfiguration spezifiziert ist, so tritt ein Fehler auf.</wsdl:documentation>
      <wsdl:input message="tns:GetFoundObjectSoapIn" />
      <wsdl:output message="tns:GetFoundObjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FabasoftAdapterSoap" type="tns:FabasoftAdapterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywords">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SearchKeywords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchObjects">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SearchObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/GetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetObject">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SetObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoundObject">
      <soap:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/GetFoundObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FabasoftAdapterSoap12" type="tns:FabasoftAdapterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKeywords">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SearchKeywords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchObjects">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SearchObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/GetObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetObject">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/SetObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoundObject">
      <soap12:operation soapAction="http://www.astra.admin.ch/FabasoftAdapter/GetFoundObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FabasoftAdapter">
    <wsdl:port name="FabasoftAdapterSoap" binding="tns:FabasoftAdapterSoap">
      <soap:address location="http://idm.astra.admin.ch/FabasoftAdapterV1/FabasoftAdapter.asmx" />
    </wsdl:port>
    <wsdl:port name="FabasoftAdapterSoap12" binding="tns:FabasoftAdapterSoap12">
      <soap12:address location="http://idm.astra.admin.ch/FabasoftAdapterV1/FabasoftAdapter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>