attic/misc2/MoreOver/moreovernews.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="moreovernews">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="article" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="url" type="xs:string"/>
							<xs:element name="headline_text" type="xs:string"/>
							<xs:element name="source" type="xs:string"/>
							<xs:element name="media_type" type="xs:string"/>
							<xs:element name="cluster" type="xs:string"/>
							<xs:element name="tagline" type="xs:string"/>
							<xs:element name="document_url" type="xs:string"/>
							<xs:element name="harvest_time" type="xs:string"/>
							<xs:element name="access_registration" type="xs:string"/>
							<xs:element name="access_status" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:ID"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
